{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}

    <div ref="words" data-words="{{ countries|join(',') }}">

    </div>

    <div id="app">

    </div>

{% endblock %}
